/* Loader background */
.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Spinner */
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3490dc; /* Laravel blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loadercontent {
    margin-left: 5px;
    font-size: 1.2em;
    color: #3490dc;
    text-align: center;
}

/* Spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.d-none {
    display: none !important;
}

.mark_attendance {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.register_member {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.add_health_record_btn {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.allot_trainer {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.register_trainer {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.process_payment {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    float: right;
}
.attn_report_btn {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.attn_download_report_btn {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;    
}
.register_client {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.add_new_membership {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.membership_edit {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.member_fee_month {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    padding: 2px 6px;  
    border-radius: 4px;
    cursor: pointer;
}
.process_fee_payment {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.pay_for_multiple_members {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.add_membership {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.edit_membership {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.process_multiple_payment {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.back_to_fee_collection {
    background-color: #f33412;
    color: white;
    font-weight: bold;
    border: 1px solid #f33412;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    float: left;
}
.progress_chart_member_name {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;   
}
.transfer_membership_btn {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;   
    cursor: pointer;
}
.add_more_time_schedule, .add_more_time_schedule_edit {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 5px 5px;  
    border-radius: 4px;
    cursor: pointer;
}
.remove_time_schedule {
    background-color: white;
    color: #f33412;
    font-weight: bold;
    border: 1px solid #f33412;
    padding: 2px 6px;  
    border-radius: 4px;
    cursor: pointer;
}
.remove_time_schedule_edit {
    background-color: white;
    color: #f33412;
    font-weight: bold;
    border: 1px solid #f33412;
    padding: 2px 6px;  
    border-radius: 4px;
    cursor: pointer;
}
.show_fee_collection {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 5px 10px;  
    border-radius: 4px;
    cursor: pointer;
}
.mark_attendance:hover {
    background-color: #FCFCFC;
}
.register_member:hover {
    background-color: #2341e7;
    color: white;
}
.add_health_record_btn:hover {
    background-color: #FCFCFC;
}
.allot_trainer:hover {
    background-color: #FCFCFC;
}
.register_trainer:hover {
    background-color: #2341e7;
    color: white;
}
.process_payment:hover {
    background-color: #FCFCFC;
}
.attn_report_btn:hover {
    background-color: #FCFCFC;
}
.attn_download_report_btn:hover {
    background-color: #FCFCFC;
}
.register_client:hover {
    background-color: #2341e7;
    color: white;
}
.add_new_membership:hover {
    background-color: #2341e7;
    color: white;
}
.membership_edit:hover {
    background-color: #2341e7;
    color: white;
}
.pay_for_multiple_members:hover {
    background-color: #FCFCFC;
}
.process_multiple_payment:hover {
    background-color: #FCFCFC;
}
.add_more_time_schedule:hover {
    background-color: #FCFCFC;
}
.show_fee_collection:hover{
    background-color: #FCFCFC;
}
.add_membership:hover {
    background-color: #2341e7;
    color: white;
}
.edit_membership:hover {
    background-color: #2341e7;
    color: white;
}
.member_search_card {
    background:#fff;
    border:1px solid #ddd;
    border-radius:8px;
    padding:18px; 
    margin-bottom:10px;
}
.schedule_time_selection {
    width: 100%;
}
.instructions_mobile {
    display: none;
}
.instructions_desktop {
    display: block;
}
.member_search_card_desktop {
    display: block;
    background:#fff;border:1px solid #ddd;border-radius:8px;padding:10px; overflow: scroll;
}
.member_search_card_mobile {
    display: none;
}
#progressChartDisplayModal {
    width:100%; 
    margin-left: -150px;
}
#progressChartDisplayModal .modal-content {
    width: 1200px; 
    height: 800px; 
    overflow: scroll;
}
#attendanceReportModal {
    width:100%; 
    margin-left: -150px;
}
#attendanceReportModal .modal-content {
    width: 1200px; 
    height: 800px; 
    overflow: scroll;
}
#progressChartCanvasId {
    width: 900px;
    height: 500px;
}
#progressChartContainer {
    width: 1100px; 
    height: 600px; 
    overflow-x: scroll;
}
#progressMatricContainer {
    width: 1100px; 
    overflow-x: scroll; 
    text-align:center;
}
.trainer_allot {
    background:#fff;
    border:1px solid #ddd;
    border-radius:8px;
    padding:18px; 
    overflow: scroll;
}
.fee_collection_thead_data {
    text-align:left; 
    padding:12px; 
    border:1px solid #ddd; 
    width:20%; 
    font-weight:600; 
    background-color:#e9ecef;
}
.fee_collection_tbody_data {
    text-align:left; 
    padding:12px; 
    border:1px solid #ddd; 
    width:20%; 
}
.fee_collection_filtered_table_thead_data {
    border:1px solid #ddd; 
    padding:8px; 
    width:25%;
}
.fee_collection_filtered_table_tbody_data {
    border:1px solid #ddd; 
    padding:8px; 
    width:25%;
}
.membership_transfer_filtered_table_thead_data {
    border:1px solid #ddd; 
    padding:8px; 
    width:18%;    
}
.membership_transfer_filtered_table_tbody_data {
    border:1px solid #ddd; 
    padding:8px; 
    width:18%;    
}
.attendance_thead_data {
    text-align:left; 
    padding:12px; 
    border:1px solid #ddd; 
    width:25%; 
}
.attendance_tbody_data {
    text-align:left; 
    padding:12px; 
    border:1px solid #ddd; 
    width:25%; 
}
.check_in_display_div {
    color: green; 
    font-weight: bold;
}
.individual_attendance_show {
    border:1px solid #ddd; 
    padding:8px;
    width: 25%;
}
#memberSearchforAttendanceReport {
    width: 100%;
}
.payment_type {
    margin-left: 20px;
}
#enable_transfer {
    margin-left: 20px; 
    border: 2px solid #ccc;
}
.input_schedule_time {
    width: 100%;
}
.fee_schedule {
    max-height: 1200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
}
#memberSearchMembershipTransfer {
    width:100%; 
    padding:8px 12px; 
    margin-bottom:12px; 
    border:1px solid #ccc; 
    border-radius:4px;
}
.transfer_membership_btn:hover {
    background-color: #FCFCFC;
}
#adjust_payment_txt {
    font-size: 15px;
    font-weight: normal;
    color:#f33412;
}
.adjust_payment_checkbox {
    width: 18px;
    height: 18px;
}